body {
    background-color: #FDF4F5;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
  }
  header{background-color:#E8A0BF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    
  }
  
  main{
    background-color:#BA90C6;
    margin: 3px;
    height: 80vh;

  }
  
  li {
    display: inline;

  }
  .header-button {
  display:inline-block;
  text-decoration: none;
  padding: 10px;
  color: black;
  margin-right: 10px;
  border: 3px solid #FDF4F5;
    }
    .header-button:active {
      background-color: #BA90C6;
      border-color: #BA90C6;
    }
    .vid-button {
      display:inline-block;
      text-decoration: none;
      background-color: #E8A0BF;
      padding: 5px;
      color: black;
      margin-right: 5px;
      border: 3px solid #FDF4F5;
        }
        .vid-button:active {
          background-color: #BA90C6;
          border-color: #BA90C6;
        }